In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("E:\Datasets\merc.csv")

In [3]:
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [4]:
df.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [5]:
y=df["price"]

In [6]:
y

0         5200
1        34948
2        49948
3        61948
4        73948
         ...
13114    35999
13115    24699
13116    30999
13117    37990
13118    54999
Name: price, Length: 13119, dtype: int64

In [7]:
x=df.drop(["price"],axis="columns")

In [8]:
x

            model  year transmission  mileage fuelType  tax   mpg  engineSize
0             SLK  2005    Automatic    63000   Petrol  325  32.1         1.8
1         S Class  2017    Automatic    27000   Hybrid   20  61.4         2.1
2        SL CLASS  2016    Automatic     6200   Petrol  555  28.0         5.5
3         G Class  2016    Automatic    16000   Petrol  325  30.4         4.0
4         G Class  2016    Automatic     4000   Petrol  325  30.1         4.0
...           ...   ...          ...      ...      ...  ...   ...         ...
13114     C Class  2020    Automatic      500   Diesel  145  55.4         2.0
13115     B Class  2020    Automatic     2500   Diesel  145  55.4         2.0
13116   GLC Class  2019    Automatic    11612   Diesel  145  41.5         2.1
13117   CLS Class  2019    Automatic     2426   Diesel  145  45.6         2.0
13118     S Class  2019    Automatic     2075   Diesel  145  52.3         2.9

[13119 rows x 8 columns]

In [9]:
x.shape

(13119, 8)

In [10]:
x=pd.get_dummies(x)

In [11]:
x

,year,mileage,tax,mpg,engineSize,model_ A Class,model_ B Class,model_ C Class,model_ CL Class,model_ CLA Class,...,model_220,model_230,transmission_Automatic,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,2005,63000,325,32.1,1.8,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,2017,27000,20,61.4,2.1,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
2,2016,6200,555,28.0,5.5,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,2016,16000,325,30.4,4.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,2016,4000,325,30.1,4.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13114,2020,500,145,55.4,2.0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
13115,2020,2500,145,55.4,2.0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
13116,2019,11612,145,41.5,2.1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
13117,2019,2426,145,45.6,2.0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
13118,2019,2075,145,52.3,2.9,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0

In [12]:
from sklearn.model_selection import train_test_split as tts

In [13]:
xtrain,xtest,ytrain,ytest=tts(x,y,test_size=0.2)

In [14]:
from sklearn.linear_model import LogisticRegression as lr

In [15]:
model=lr()

In [16]:
model.fit(xtrain,ytrain)

C:\Users\Sakthivel\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [17]:
pred=model.predict(xtest)

In [18]:
print(pred)

[19999 19999 19999 ... 24999 15999 15999]